@model PersonalWebSite.Models.Uye
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div></div>
                <div id="logo">
                    <a href="/Home/Index"><img src="/Content/img/22_40.png" title="AnaSayfa" /></a>
                </div>
                <div></div>
            </div>
        </div>
    </header>
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="comment-form form">
                <h4>ÜYE OL</h4>
                <span style="color:darkgreen;">@ViewBag.mesaj</span>
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form class="form-group" method="post">
                        <div class="form-group col-lg-12s col-md-12">
                            @Html.TextBoxFor(m => m.adSoyad, new { @class = "form-control", placeholder = "Name", required = "required" })
                            @Html.ValidationMessageFor(m => m.adSoyad, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            @Html.TextBoxFor(m => m.UyeDetay.kullaniciAdi, new { @class = "form-control", placeholder = "Username", required = "required" })
                            @Html.ValidationMessageFor(m => m.UyeDetay.kullaniciAdi, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            @Html.TextBoxFor(m => m.UyeDetay.eMail, new { @class = "form-control", placeholder = "Email Adress", required = "required" })
                            @Html.ValidationMessageFor(m => m.UyeDetay.eMail, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            @Html.PasswordFor(m => m.UyeDetay.sifre, new { @class = "form-control", placeholder = "Password", required = "required" })
                            @Html.ValidationMessageFor(m => m.UyeDetay.sifre, "", new { @style = "color:red" })
                        </div>
                        <div>
                            <a>Zaten Üye Misin ?</a>
                            <a href="~/Security/Login">Giriş Yap</a>
                        </div>
                        @Html.HiddenFor(m => m.uyeDetayBilgiID)
                        <button type="submit" style="margin-top:10px" class="primary-btn text-uppercase">KAYDOL</button>
                    </form>
                }
            </div>
        </div>
    </section>
    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/simple-skillbar.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>

