@model PersonalWebSite.Models.Uye
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="comment-form form">
                <div class="single-sidebar-widget user-info-widget">
                    <img src="~/Upload/UserProfilePhotos/@Model.UyeDetay.fotograf">
                </div>

                @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <h4>@Model.adSoyad</h4>
                    <form class="form-group" method="post">
                        <div class="form-group">
                            <label>Profil Fotoğrafı Seç:</label>
                            <input type="file" name="fotograf" accept=".jpg,.png,.JPG,.jpeg" id="fotograf"/>
                        </div>
                        @Html.HiddenFor(m => m.uyeID)
                        @Html.HiddenFor(m => m.uyeDetayBilgiID)
                        @Html.HiddenFor(m => m.rolID)
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.adSoyad, new { @class = "form-control", })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UyeDetay.kullaniciAdi, new { @class = "form-control", placeholder = "Username" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UyeDetay.eMail, new { @class = "form-control", placeholder = "E-Mail" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.UyeDetay.sifre, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <button class="primary-btn text-uppercase">GÜNCELLE</button>
                    </form>
                }
            </div>
        </div>
    </section>
</body>
</html>