@model PersonalWebSite.Models.Uye
@{
    Layout = null;
}
@if (Session["Kullanici"] == null)
{
    <!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/Content/Admin/assets/img/developer.png">
        <meta name="author" content="colorlib">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <title>Personal Web Page</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/css/linearicons.css">
        <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/css/nice-select.css">
        <link rel="stylesheet" href="~/Content/css/animate.min.css">
        <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
        <link rel="stylesheet" href="~/Content/css/main.css">
        @Styles.Render("~/bundles/sweetalert/css")
    </head>
    <body>
        <header id="header">
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                    <div></div>
                    <div id="logo">
                        <a href="/Home/Index"><img src="/Content/img/22_40.png" title="AnaSayfa" /></a>
                    </div>
                    <div></div>
                </div>
            </div>
        </header>
        <section class="post-content-area single-post-area">
            <div class="container">
                <div class="comment-form form">
                    <h4>ÜYE OL</h4>
                    @using (Html.BeginForm("YeniUye", "User", FormMethod.Post))
                    {
                        if (TempData["Message"] != null)
                        {
                            <span style="color:red">@TempData["Message"]</span>
                        }
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <form class="form-group" method="post">
                            <div class="form-group col-lg-12s col-md-12">
                                @Html.TextBoxFor(m => m.adSoyad, new { @class = "form-control", placeholder = "Name", MaxLength = 50, MinLenght = 3, required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.adSoyad, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                @Html.TextBoxFor(m => m.UyeDetay.kullaniciAdi, new { @class = "form-control", MaxLength = 16, MinLenght = 3, placeholder = "Username", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.UyeDetay.kullaniciAdi, "", new { @style = "color:red" })

                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                @Html.TextBoxFor(m => m.UyeDetay.eMail, new { @class = "form-control", placeholder = "Email Adress", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.UyeDetay.eMail, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                @Html.PasswordFor(m => m.UyeDetay.sifre, new { @class = "form-control", MaxLength = 16, MinLenght = 6, placeholder = "Password", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.UyeDetay.sifre, "", new { @style = "color:red" })
                            </div>
                            <div>
                                <a>Zaten Üye Misin ?</a>
                                <a href="~/Security/Login">Giriş Yap</a>
                            </div>
                            @Html.HiddenFor(m => m.uyeDetayBilgiID)
                            <button id="xx" type="submit" style="margin-top:10px" class="primary-btn text-uppercase">KAYDOL</button>
                        </form>
                    }
                </div>
            </div>
        </section>
        @if (TempData["kayitMesaji"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    Swal.fire({
                        type: 'success',
                        title: 'Kayıt Başarıyla Tamamlandı',
                        footer: '<a href="/Security/Login">Hemen Giriş Yap</a>'
                    })
                };
            </script>
        }
        <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="~/Content/js/popper.min.js"></script>
        <script src="~/Content/js/vendor/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="~/Content/js/easing.min.js"></script>
        <script src="~/Content/js/hoverIntent.js"></script>
        <script src="~/Content/js/superfish.min.js"></script>
        <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/js/jquery.tabs.min.js"></script>
        <script src="~/Content/js/jquery.nice-select.min.js"></script>
        <script src="~/Content/js/isotope.pkgd.min.js"></script>
        <script src="~/Content/js/waypoints.min.js"></script>
        <script src="~/Content/js/jquery.counterup.min.js"></script>
        <script src="~/Content/js/simple-skillbar.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/mail-script.js"></script>
        <script src="~/Content/js/main.js"></script>
        @Scripts.Render("~/bundles/sweetalert/js")
        <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    </body>
</html>
}
else
{
    if (Session["Yetki"].ToString() == "Admin")
    {
        Response.Redirect(Url.Action("Index", "Admin"));
    }
    else
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
}

