@model PersonalWebSite.Models.Makale
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlogDetail</h2>
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="comment-form">
                <div class="single-sidebar-widget user-info-widget">
                    <img src="~/Upload/WorkPhotos/@Model.MakaleDetay.fotograf">
                </div>
                @using (Html.BeginForm("UpdateBlog", "AdminBlog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form class="form-group" method="post">
                        <div class="form-group" style="margin-top:10px">
                            <label>Makale Fotoğrafı Seç:</label>
                            <input type="file" name="fotograf" accept=".jpg,.png,.JPG,.jpeg" id="fotograf" />
                        </div>
                        @Html.HiddenFor(m => m.makaleID)
                        @Html.HiddenFor(m => m.kategoriID)
                        @Html.HiddenFor(m => m.makaleDetayID)
                        <div class="form-group form-inline">
                            <a class="col-lg-2 col-md-12 name"><b>Makale Başlığı :</b></a>
                            @Html.TextBoxFor(m => m.MakaleDetay.baslik, new { @class = "form-control col-lg-10 col-md-12 name", placeholder = "Makale Başlığı" })
                        </div>
                        <div class="form-group form-inline">
                            <a class="col-lg-2 col-md-12 name"><b>Görüntülenme Sayısı :</b></a>
                            @Html.TextBoxFor(m => m.MakaleDetay.goruntulenmeSayisi, new { @class = "form-control col-lg-10 col-md-12 name", @readonly = "readonly", placeholder = "Görüntülenme Sayısı" })
                        </div>
                        <div class="form-group form-inline">
                            <a class="col-lg-2 col-md-12 name"><b>Yayınlanma Tarihi :</b></a>
                            @Html.TextBoxFor(m => m.MakaleDetay.yayınlanmaTarihi, new { @class = "form-control col-lg-10 col-md-12 name", @readonly = "readonly", placeholder = "Yayınlanma Tarihi" })
                        </div>
                        <div class="form-group form-inline">
                            <a class="col-lg-2 col-md-12 name"><b>Makale İçeriği :</b></a>
                            @Html.TextAreaFor(m => m.MakaleDetay.icerik, new { @class = "form-control col-lg-10 col-md-12 name", rows = "10", placeholder = "Makale İçeriği" })
                        </div>
                        <button class="primary-btn text-uppercase">GÜNCELLE</button>
                    </form>
                }
            </div>
        </div>
    </section>
</body>
</html>