@model PersonalWebSite.Models.Makale
@{
    ViewBag.Title = "GetMakaleById";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["MakaleID"] = @Model.makaleID;
    var db = new PersonalWebSite.Models.PersonalWebPageDBEntities();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>BlogDetail</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- Start post-content Area -->
    <section style="margin-top:20px" class="post-content-area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="~/Upload/WorkPhotos/@Model.MakaleDetay.fotograf" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3 meta-details">
                            <div class="user-details row">
                                <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">@Model.Kategori.kategori1</a> <span class="lnr lnr-bookmark"></span></p>
                                <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Özgür Çakıcı</a> <span class="lnr lnr-user"></span></p>
                                <p class="date col-lg-12 col-md-12 col-6"><a>@Model.MakaleDetay.yayınlanmaTarihi.Value.ToString("dd MMMM yyyy")</a> <span class="lnr lnr-calendar-full"></span></p>
                                <p class="view col-lg-12 col-md-12 col-6"><a>@Model.MakaleDetay.goruntulenmeSayisi görüntülenme</a> <span class="lnr lnr-eye"></span></p>
                                <p class="comments col-lg-12 col-md-12 col-6"><a>6 Yorum</a> <span class="lnr lnr-bubble"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h3 class="mt-20 mb-20">@Model.MakaleDetay.baslik</h3>
                            <p class="excert">
                                @Model.MakaleDetay.icerik
                                Veri Bilimi, hiç şüphesiz günümüzün en popüler araştırma ve uygulama alanlarının başında geliyor. Doğası gereği disiplinlerarası bir alan olarak kabul edilmesi gereken Veri Bilimi’ni öğrenmek isteyenlerin sayısı da her geçen gün artıyor. Datajarlabs olarak, verdiğimiz Veri Bilimi eğitimleri sayesinde edindiğimiz tecrübeler ışığında, Veri Bilimi’ni öğrenmek isteyenlere yol göstermesi açısından bir yol haritası oluşturmaya ve takipçilerimizle paylaşmaya karar verdik.
                                Veri Bilimi, hiç şüphesiz günümüzün en popüler araştırma ve uygulama alanlarının başında geliyor. Doğası gereği disiplinlerarası bir alan olarak kabul edilmesi gereken Veri Bilimi’ni öğrenmek isteyenlerin sayısı da her geçen gün artıyor. Datajarlabs olarak, verdiğimiz Veri Bilimi eğitimleri sayesinde edindiğimiz tecrübeler ışığında, Veri Bilimi’ni öğrenmek isteyenlere yol göstermesi açısından bir yol haritası oluşturmaya ve takipçilerimizle paylaşmaya karar verdik.
                            </p>
                        </div>
                    </div>

                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="~/Content/img/blog/prev.jpg" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Önceki</p>
                                    <a href="#"><h4>Post Başlığı</h4></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Sonraki</p>
                                    <a href="#"><h4>Post Başlığı</h4></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="~/Content/img/blog/next.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>Yorumlar</h4>
                        <div class="comment-list">
                            @foreach (var item in ViewBag.makaleyeAitYorumlar)
                             {
                                <div class="single-comment j d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/Content/img/blog/c2.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a>@item.adSoyad</a></h5>
                                            <p class="date">@item.tarih</p>
                                            <p>
                                                @item.icerik 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                             }
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>Bir Yorum Ekle</h4>
                            <form action="/Yorum/AddComment" method="post">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="isim" placeholder="Adınız Soyadınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adınız Soyadınız'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="yorum" placeholder="Yorumunuz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Yorumunuz'" required=""></textarea>
                                </div>
                                <button href="#" class="primary-btn text-uppercase">Yorum Yap</button>
                                @Html.HiddenFor(m => m.makaleID);
                            </form>
                        </div>
                </div>
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="popular-title">En Çok Okunanlar</h4>
                            <div class="popular-post-list">
                                @foreach (var item in db.Makale.ToList())
                                {
                                    if (item.MakaleDetay.goruntulenmeSayisi>=200)
                                    {
                                    <div class="single-post-list d-flex flex-row align-items-center">
                                        <div class="thumb">
                                            <img class="img-fluid" src="img/blog/pp1.jpg" alt="">
                                        </div>
                                        <div class="details">
                                            <a href="/Blog/GetMakaleById/@item.makaleID"><h6>@item.MakaleDetay.baslik</h6></a>
                                            <p>@item.MakaleDetay.yayınlanmaTarihi.Value.ToString("dd MMMM yyyy")</p>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="single-sidebar-widget ads-widget">
                            <a href="#"><img class="img-fluid" src="~/Content/img/blog/ads-banner.jpg" alt=""></a>
                        </div>
                        <div class="single-sidebar-widget post-category-widget">
                            <h4 class="category-title">Kategoriler</h4>
                            @foreach (var item in db.Kategori.ToList())
                            {
                                var makaleSayisi = 0;
                                foreach (var numbers in db.Makale.ToList())
                                {
                                    if (item.kategoriID == numbers.kategoriID)
                                    {
                                        makaleSayisi++;
                                    }
                                }
                                <ul class="cat-list">
                                    <li>
                                        <a href="/Blog/GetBlogByKategori/@item.kategoriID" class="d-flex justify-content-between">
                                            <p>@item.kategori1</p>
                                            <p> @makaleSayisi </p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post-content Area -->
</body>
</html>

